<div class="col-sm-6 course-info__people">
    <div class="course-info__peopletxt course-info__peopletxt--noavatar">
        <span class="course-info__peoplename text-orange">{{ user.name}}</span>
        {% if course.can_access_messages %}
        <a class="forma-button course-info__peoplecta" href="{{ route.message.url }}&idst={{ user.idst }}&signature={{ Util_getSignature() }}&sop=unregistercourse'">   {{Lang_translate('_MESSAGE','course')}}</a>
        {% endif %}
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
