{# -------------- Librerie Javascript passate dal controller -------------- #}
{% block componentScripts %}
    {{ js_tag|raw }}
{% endblock %}
{# ------------------------------------------------------------------------ #}

<script language="javascript">

    // Init library
    YAHOO.util.Event.onDOMReady(function () {
        initialize("{{ Lang_translate('_UNDO', 'standard') }}");
    });

    // Init LightBox

    var lb = new LightBox();
    lb.back_url = 'index.php?r=lms/courseassn/show&sop=unregistercourse';

    var Config = {};
    Config.langs = {
        _CLOSE: "{{ Lang_translate('_CLOSE', 'standard') }}"
    };

    lb.init(Config);

    // Funzioni pagina

    function chooseEdition(id_course) {

        var posting = $.get(
            window.frontend.config.url.appLms + '/ajax.server.php',
            {
                r: 'courseassn/chooseEdition',
                id_course: id_course,
                type_course: 'classroom'
            }
        )

        posting.done(function (r) {

            // Mi assicuro che il wrapper esista
            if (!$('#modalWrapper').length) {
                $('body').append('<div id="modalWrapper"></div>');
            }

            // Inserisco l'HTML del Twig nel wrapper
            $('#modalWrapper').html(r);

            // Apro il modal restituito dal Twig
            $('#modalWrapper #formaModal').css("margin-top", $('body').height() / 2 - $('.modal-content').height() / 2 - 300);
            $('#modalWrapper #formaModal').modal('show');
        });

        posting.fail(function () {
            alert('call failed')
        })
    }

   function courseinfoPopUp(id_course) {

        var posting = $.get(
                window.frontend.config.url.appLms + '/ajax.server.php',
                {
                    r: 'lms/catalog/courseInfo',
                    id_course: id_course
                }
            );
            posting.done(function (o) {
				var res = JSON.parse(o);
            	if (res.success) {
						$('<div></div>').appendTo('body')
						.html("<div>"+res.body+"</div>")
						.dialog({
								modal: true,
								title: res.title,
								autoOpen: true,
                                height: $(window).height()*0.7,
								width: $(window).width()*0.4,
								minHeight: 400,
								minWidth: 400,
                                closeOnEscape: true,
                                draggable: true,
								resizable: false,
								buttons: {
									{{ Lang_translate('_CLOSE', 'standard') }}:
										function() {
											$(this).dialog("close");
										}
								},
								open: function(event, ui) {
									$(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
								},
								close: function(event, ui) {
									$(this).remove();
								}
						});
				}
            });
            posting.fail(function () {
                alert('Loading error')
            })

    }

    function printElement(elId, pgTitle, classHidden) {
        // Stampa un elemento (es. div) in una nuova finestra

        var links = document.getElementsByTagName("link");
        var content = document.getElementById(elId).innerHTML;
        var htmlstr = '';
        var mywindow = window.open('', '', '');
        
        htmlstr += "<html><head>";
        
        //Fogli di stile
        for (var i = 0; i < links.length; i++) {
            if(links[i].rel == 'stylesheet') {
                htmlstr += '<link rel="stylesheet" type="text/css" href="' + links[i].href + '" media = "' + links[i].media + '"/>';
            }
        }

        //Stile della pagina (nascondimento elementi)
        htmlstr += "<style>";

        if(classHidden != ''){
            var classname = classHidden.split(',');
            for (var i = 0; i < classname.length; i++) {
                htmlstr += '.' + classname[i].trim() + '{visibility: hidden;}';
            }
        }

        htmlstr += "</style>";
        
        htmlstr += "</head><title>" + pgTitle + "</title>";
        htmlstr += '<body>' + content + '</body></html>';

        //Scrivo
        mywindow.document.write(htmlstr);
        
        //Chiudo l'output stream
        mywindow.document.close();
        
        //Stampo
        mywindow.print();

        return true;
    }

    /*
    function confirmDialog(title, id_course, id_date) {
        closeAllDatesPopup(id_course);
        $('<div></div>').appendTo('body')
            .html("<div><h6>{{ Lang_translate('_SELF_UNSUBSCRIBE', 'course') }}</h6></div>")
            .dialog({
                modal: true,
                title: title,
                autoOpen: true,
                width: '200',
                height: '150',
                resizable: false,
                buttons: {
                    {{ Lang_translate('_CONFIRM', 'standard') }}:

                        function() {
                            var posting = $.get(
                                'ajax.server.php', {
                                    r: 'courseassn/self_unsubscribe',
                                    id_course: id_course,
                                    id_date: id_date
                                }
                            );
                            posting.done(function(responseText) {
                                var ft = $("#courseassn_search_filter_text").val();
                                var ctype = $("#courseassn_search_filter_type").selectpicker().val();
                                var category = $('#courseassn_search_filter_cat').selectpicker().val();
                                var cyear = $("#courseassn_search_filter_year").selectpicker().val();
                                var json_status = $('.js-label-menu-filter.selected').attr('data-value');
                                $("#div_course").html("<br><p align='center'><img src='{{ Layout_getPath() }}images/standard/loadbar.gif'></p>");
                               var posting = $.get('ajax.server.php?r=courseassn/all&rnd={{ date().timestamp }}&filter_text=' + ft + '&filter_type=' + ctype + '&filter_cat=' + category + '&filter_status=' + json_status + '&filter_year=' + cyear, {});
                                posting.done(function(responseText) {
                                    $("#div_course").html(responseText);
                                });
                            });
                            posting.fail(function() {
                                alert('unsubscribe failed')
                            })
                            $(this).dialog("close");
                        }

                        ,
                    {{ Lang_translate('_UNDO', 'standard') }}:

                        function() {
                            $(this).dialog("close");
                        }
                },
                open: function(event, ui) {
                    $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                },
                close: function(event, ui) {
                    $(this).remove();
                }
            });
    }
    */


    function openAllDatesPopup($id) {
        $('*[data-overlay="course-' + $id + '"]').fadeIn();
    }

    function closeAllDatesPopup($id) {
        $('*[data-overlay="course-' + $id + '"]').fadeOut();
    }

</script>


<link rel="shortcut icon" href="../favicon.ico">


<div id='container'>
	<div class = "col-xs-12">
		<div id="courseassn-fpage-msg" class="fpage-message">
            {{ Lang_translate('_ASSN_FPAGE_MESSAGE', 'courseassn') }}
		</div>
    </div>
    <h1 class="page-header col-xs-12"><strong> {{filter_type}} </strong>
        <span class = "link-subs"><a href='index.php?r=lms/unsubscription/showUserSubscriptions&amp;call=assn&amp;op=unregistercourse'>{{ Lang_translate('_SUBS_REPORT', 'course') }}</a></span>
    </h1>
    <div class="clearfix row" id='mia_area_{{stato_corso}}'>
        {% if courselist is empty %}
            <div class="col-xs-12">
        {% block emptycourselist %} <p>{{ Lang_translate('_NO_CONTENT', 'standard') }}</p> {% endblock %}
            </div>
       {% endif %}

        {% for course in courselist %}

            <div class="col-xs-12 col-md-4 col-lg-3 mycourses-list">

                {% include 'partials/courseassn-course-box.html.twig' with { 'course': course } %}
            </div>
       {% endfor%}
            </div>
    </div>
</div>
